<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tức</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/tintuc.css">
</head>
<body>
    <header class="header">
        <div class="header-top w-80 margin-row-auto">         
            <nav class="menu-top d-flex justify-right">
                <div class="icon-item icon-phone">
                    <img src="../imgs/phone.png" alt="phone">
               </div>
               <p class="tel">
                    Hotline:
                    <a href="tel:0123456789" class="phone">0123 456 789</a>
                </p>
                <div class="icon-item">
                    <span><i class="fa-brands fa-facebook-f"></i></span>
               </div>
               <div class="icon-item">
                    <span><i class="fa-brands fa-twitter"></i></span>
               </div>
               <div class="icon-item">
                    <span><i class="fa-brands fa-google-plus-g"></i></span>
               </div>
               <div class="icon-item">
                   <span><i class="fa-brands fa-youtube"></i></span>
               </div>
            </nav>
        </div>
        <div class="header-mid  w-80 margin-row-auto">
            <div class="menu-mid d-flex justify-between">
                <div class="logo w-20">
                    <img src="../imgs/logo.png" alt="logo">
                </div>
                <div class="search w-40">
                    <input type="search" name="search" id="text-search" placeholder="Tìm kiếm">
                    <button id="btn-search"><span><i class="fa-solid fa-magnifying-glass"></i></span></button>
                </div>
                <div class="commit-transport d-flex justify-between w-40">
                    <div class="commit d-flex justify-left w-50">
                        <div class="menu-icon">
                            <img src="../imgs/hand.png" alt="hand">
                        </div>
                        <p class="content">
                            Cam Kết chất lượng sản phẩm dịch vụ
                        </p>
                    </div>
                    <div class="transport d-flex justify-left w-50">
                        <div class="menu-icon">
                            <img src="../imgs/xt.png" alt="hand">
                        </div>
                        <p class="content">
                            Vận chuyển nội thành miễn phí
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-botton  w-80 margin-row-auto">

        </div>
    </header>
    <section class="banner">
        <nav class="banner-left">

        </nav>
        <article class="banner-right">

        </article>
    </section>
</body>
</html>