
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: OpenSans-Medium;
    src: url(../fonts/OpenSans-Medium.ttf);
}
@font-face {
    font-family: OpenSans-MediumItalic;
    src: url(../fonts/OpenSans-MediumItalic.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
}
html{
    font-size: 20px; 
    font-family: OpenSans-Medium;
}



.d-flex{
    display: flex !important;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-left{
    justify-content: left;
}
.justify-right{
    justify-content: right;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.w-40{
    width: 45%;
}
.w-30{
    width: 30%;
}

.w-35{
    width: 35%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-70{
    width: 70%;
}
.w-75{
    width: 75%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}

.margin-row-auto{  

    margin: 0 auto;
}

.menu-top a.phone{
    font-family: OpenSans-Bold;
    padding-right: 0.5rem;
    font-size: 1rem;
    border-right: 1px solid #ccc ;
}
.menu-top .icon-item{
    padding: 0 0.5rem;
    border-right: 1px solid #ccc ;
}


.menu-top .icon-item.icon-phone{
    padding-right: 0.2rem;
    border-right: none;
}

.header-mid{
    margin: 1rem auto;
}

.menu-mid .search
,.menu-mid .commit-transport{
    margin:  auto ;  
}

.menu-mid #text-search{
    height: 2.5rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 1rem; 
    padding-right: 2.5rem; 
    font-size: 1rem;
}
.menu-mid #btn-search{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -2.8rem;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
}

.commit .menu-icon img{
    width: 2.5rem;   
}

.transport .menu-icon img{
    width: 3.5rem;
}

.commit-transport .content{
    text-transform: uppercase;
    flex-wrap: nowrap ;
    width: 12.2rem;
    margin-left: 1rem;
}

.header-botton{
    background-color: green;
    height: 3rem;    
}
.header-botton .list-item .item{
    text-transform: uppercase;
    font-family: OpenSans-Bold ;
    color: #fff;
    line-height: 3rem;
}
.header-botton .list-item .item a{
    color: #fff;
}
.header-botton .item.active{
    background-color: rgb(255, 63, 0);    
}
.header-botton .category
,.banner .banner-left{
    width: 20%;
}

.header-botton .list-item .item i{
    padding: 0 0.6rem;
    color: #fff;
}
.banner{
    margin-bottom: 1rem;
}
.banner .banner-left .menu-banner .item{
    line-height: 3rem;
    border-bottom: 1px solid #f0f0f0;
}
.banner .banner-left .menu-banner .item i{
   color: green;
   padding: 0 0.5rem;
}
.banner .banner-right{
    margin-left: auto;
    width: 78%;    
}

.banner .banner-right .page-info{
    margin-top: 0.5rem;   
    margin-bottom: 0.5rem;   
}
.banner .banner-right .page-info i{
    margin: 0.5rem 0.3rem;  
    color: #ccc;
    font-size: 0.5rem;
    /* line-height: ; */
}
.banner .banner-right .img-banner img{
    width: 100%;
    height: 13rem;
    /* object-fit: unset; */
}

