.news h2{    
    font-size: 1.3rem;  
    margin-bottom: 1rem;  
}
.title-new-hot{
    border-bottom: solid 5px green;
    border-radius: 2px;
}
.title-new-main{
    width: 15rem;
    background-color: green;
    color: #fff;
    height: 2rem;
}
.title-new-main .img-icon{
    /* height: 2rem;
    margin: auto 0;
    padding: 0 0.5rem; */
}
.title-new-main .img-icon img{
    height: 1.5rem;
    padding: 0.25rem 0.8rem;
}
.title-new-main h2{
 
    color: #fff;
    height: 2rem;
}

.new-hot-item{
    border-bottom: dashed 1px green;
    padding: 1rem 0;
}

.news .menu-new-hot .title-item h3{
    font-weight: normal;
    font-size: 1rem;  
    margin-bottom: 1rem;  
} 
.date-new i{
    color: green;
}
.date-new{
    color: #414141;
    font-size: 0.8rem; 
}
.news .menu-new-main{
    margin-left: auto;
    width: 78%;    
}

.news .menu-new-main .title-item h3{
    margin-bottom: 1rem;  
} 

.menu-new-main .date-new{
    color: #414141;
    font-size: 1rem; 
    padding-bottom: 1rem;
}

.menu-new-main .content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.new-main-item{
    padding: 1.5rem 0;
}