<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="header-logo">
            <a class="navbar-brand" href="#">
              <img
                src="../imgs/trang-chu/logophongtra.png"
                alt="logophongtra.png"
              />
            </a>
          </div>
          <div class="header-nav">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#"
                        >Trang chủ</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#"
                        >Giới thiệu</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Tin Tức</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Liên Hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="banner-header">
      <div class="imgs-banner-header">
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <h3 class="title-banner">Trà ướp sen tây hồ</h3>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của
              sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <span class="title-banner">Trà ướp sen tây hồ</span>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của <br />
              sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <span class="title-banner">Trà ướp sen tây hồ</span>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của <br />
              sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
      </div>
      <!-- <img src="../imgs/trang-chu/backBanner.png" alt=""> -->
    </section>
   <div class="main">
    <section class="product-outstanding">
      <div class="container">
        <h3 class="text-uppercase">Sản phẩm nổi bật</h3>
        <div class="list-product">
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-1.png" alt="product-1.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp bông sen</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-2.png" alt="product-2.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp Nhị Sen</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-3.png" alt="product-3.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà shan tuyết</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-4.png" alt="product-4.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp ô long</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-1.png" alt="product-1.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp bông sen</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-2.png" alt="product-2.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp Nhị Sen</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-3.png" alt="product-3.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà shan tuyết</h4>
            </div>
          </div>
          <div class="item-product">
            <div class="img-product">
              <img class="m-auto" src="../imgs/trang-chu/product-4.png" alt="product-4.png" />
            </div>
            <div>
              <h4 class="text-uppercase">Trà Ướp ô long</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="introduce">
      <div class="container">
        <h3 class="text-uppercase">Giới thiệu</h3>
        <div class="introduce-detail">
            <img src="../imgs//trang-chu/traxanhbachdiep.png" alt="traxanhbachdiep.png">
            <div class="introduce-describe">
              <p>
                Trà ướp Sen Bách Diệp - tinh hoa văn hóa Hà Thành là sự hòa quyện tuyệt vời
                giữa hương thơm ngát của bông sen Bách Diệp Hồ Tây và vị đậm đà của trà 
                sen Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí quyết nghề mật truyền
                nhiều đời của người thợ trà Thăng Long, tạo ra thức quà tinh túy, kết tinh văn hóa
                ngàn năm Thăng Long - Hà Nội
              </p>
              <button class="text-uppercase btn bg-green ">Đọc Thêm</button>
            </div>
        </div>
      </div>
    </section>
   </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
