<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="header-logo">
            <a class="navbar-brand" href="#">
              <img
                src="../imgs/trang-chu/logophongtra.png"
                alt="logophongtra.png"
              />
            </a>
          </div>
          <div class="header-nav">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#"
                        >Trang chủ</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#"
                        >Giới thiệu</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Tin Tức</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link title-header-nav" href="#">Liên Hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="banner-header">
      <div class="imgs-banner-header">
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <h3 class="title-banner">Trà ướp sen tây hồ</h3>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của sen Bách diệp Hồ
              Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <span class="title-banner">Trà ướp sen tây hồ</span>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của <br />
              sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
        <div class="single-item">
          <img
            class="img-banner"
            src="../imgs/trang-chu/banner.png"
            alt="banner.png"
          />
          <div class="content-banner">
            <div class="header-banner">
              <span class="title-banner">Trà ướp sen tây hồ</span>
            </div>
            <p class="detail-banner">
              Sự hòa quyện tuyệt vời giữa hương thơm ngát của <br />
              sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
            </p>
            <button class="btn btn-banner bg-green">THỬ NGAY</button>
          </div>
        </div>
      </div>
      <!-- <img src="../imgs/trang-chu/backBanner.png" alt=""> -->
    </section>
    <div class="bg-1">
      <section class="product-outstanding">
        <div class="container">
          <h3 class="text-uppercase">Sản phẩm nổi bật</h3>
          <div class="list-product">
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-1.png"
                  alt="product-1.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp bông sen</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-2.png"
                  alt="product-2.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp Nhị Sen</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-3.png"
                  alt="product-3.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà shan tuyết</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-4.png"
                  alt="product-4.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp ô long</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-1.png"
                  alt="product-1.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp bông sen</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-2.png"
                  alt="product-2.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp Nhị Sen</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-3.png"
                  alt="product-3.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà shan tuyết</h4>
              </div>
            </div>
            <div class="item-product">
              <div class="img-product">
                <img
                  class="m-auto"
                  src="../imgs/trang-chu/product-4.png"
                  alt="product-4.png"
                />
              </div>
              <div>
                <h4 class="text-uppercase">Trà Ướp ô long</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="introduce">
        <div class="container">
          <h3 class="text-uppercase">Giới thiệu</h3>
          <div class="introduce-detail">
            <img
              src="../imgs//trang-chu/traxanhbachdiep.png"
              alt="traxanhbachdiep.png"
            />
            <div class="introduce-describe">
              <p>
                Trà ướp Sen Bách Diệp - tinh hoa văn hóa Hà Thành là sự hòa
                quyện tuyệt vời giữa hương thơm ngát của bông sen Bách Diệp Hồ
                Tây và vị đậm đà của trà sen Tân Cương Thái Nguyên. Qua đôi bàn
                tay tài hoa và bí quyết nghề mật truyền nhiều đời của người thợ
                trà Thăng Long, tạo ra thức quà tinh túy, kết tinh văn hóa ngàn
                năm Thăng Long - Hà Nội
              </p>
              <button class="text-uppercase btn bg-green">Đọc Thêm</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="bg-2">
      <section class="person">
        <div class="container">
          <h3 class="text-uppercase text-center p-5">Nghệ nhân trà đạo</h3>
          <div class="item-persons d-flex justify-content-between">
            <div class="item-person">
              <div>
                <img src="../imgs/trang-chu/professional-tea-1.png" alt="" />
              </div>
              <div class="item-person-bottom">
                <div class="font-MSVN-Athena_0 text-center">
                  Nn. Nguyễn Cao Sơn
                </div>
                <p class="font-MSVN-Athena_0">
                  Nguyễn Cáo sơn được chọn làm đại diện văn hóa Trà Việt tại
                  ngôi nhà di sản 87 Mã Mây Hà Nội.
                </p>
              </div>
            </div>
            <div class="item-person">
              <div>
                <img src="../imgs/trang-chu/professional-tea-2.png" alt="" />
              </div>
              <div class="item-person-bottom">
                <div class="font-MSVN-Athena_0 text-center">
                  Nn. Hướng Anh Sướng
                </div>
                <p class="font-MSVN-Athena_0">
                  Truyền nhân đời thứ 6 của dòng trà Trường Xuân, Hà Nội chia sẻ
                  về nghệ thuật trà đạo, lĩnh vực mà anh dành hơn nửa cuộc đời
                  nghiên cứu một cách đam mê
                </p>
              </div>
            </div>
            <div class="item-person">
              <div>
                <img src="../imgs/trang-chu/professional-tea-3.png" alt="" />
              </div>
              <div class="item-person-bottom">
                <div class="font-MSVN-Athena_0 text-center">
                  Nn. Nguyễn Thị Dần
                </div>
                <p class="font-MSVN-Athena_0">
                  Vẫn tự tay chọn hoa, tách gạo, thực hiện từng công đoạn ướp
                  trà sen. Cũng chính bởi nghiện trà, bởi yêu nghề nên cô thiếu
                  nữ Hà thành năm xưa vẫn say hương vị trà sen Tây Hồ.
                </p>
              </div>
            </div>
            <div class="item-person">
              <div>
                <img src="../imgs/trang-chu/professional-tea-4.png" alt="" />
              </div>
              <div class="item-person-bottom">
                <div class="font-MSVN-Athena_0 text-center">
                  Nn. Nguyễn Hoài Linh
                </div>
                <p class="font-MSVN-Athena_0">
                  Vô địch toàn thế giới trong cuộc thi Tea Master Cup
                  International 2018 về pha trà tổ chức tại Huế
                </p>
              </div>
            </div>
            <div class="item-person">
              <div>
                <img src="../imgs/trang-chu/professional-tea-5.png" alt="" />
              </div>
              <div class="item-person-bottom">
                <div class="font-MSVN-Athena_0 text-center">Nn. Viên Trân</div>
                <p class="font-MSVN-Athena_0">
                  Sinh ra và lớn lên trong một gia đình quý tộc phong kiến,
                  trong một môi trường mà việc uống trà và trà cực ngon, cực
                  thượng hạng là điều không bao giờ thiếu trong nhà.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="buy">
        <div class="container">
          <h3 class="text-uppercase text-center">Mua Ngay</h3>
          <div class="d-flex justify-content-center">
            <input
              type="text"
              name="input"
              id="input"
              class="input-email me-5 ps-3"
            />
            <button class="text-uppercase btn bg-green btn-submit">Gửi</button>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="row pt-4">
          <div class="col-4">
            <img
              src="../imgs/trang-chu/logophongtra.png"
              alt="logophongtra.png"
            />
            <ul class="pt-3 pe-0">
              <li><a href="tel:7999999999">7999.999.999</a></li>
              <li>
                <a
                  href="mail:trasenbachdiep@gmail.com"
                  class="font-MSVN-Athena_0"
                  >trasenbachdiep@gmail.com</a
                >
              </li>
              <li>
                <address class="font-MSVN-Athena_0">
                  Số 12, Quảng An, Hồ Tây,Hà Nội
                </address>
              </li>
            </ul>
          </div>
          <div class="col-4">
            <h4 class="text-uppercase">Về Chúng tôi</h4>
            <ul>
              <li>
                <a href="#" class="font-MSVN-Athena_0">Giới thiệu</a>
              </li>
              <li>
                <a href="#" class="font-MSVN-Athena_0">Sản phẩm</a>
              </li>
              <li>
                <a href="#" class="font-MSVN-Athena_0">Tin tức</a>
              </li>
            </ul>
          </div>
          <div class="col-4 col-contact">
            <h4>Liên hệ</h4>
            <div class="logo-link">
              <a href="#"
                ><img
                  src="../imgs/trang-chu/logoyoutube.png"
                  alt="logoyoutube.png"
              /></a>
              <a href="#">
                <img src="../imgs/trang-chu/logoinsta.png" alt="logoinsta.png"
              /></a>
              <a href="#">
                <img
                  src="../imgs/trang-chu/logofaceboook.png"
                  alt="logofaceboook.png"
              /></a>

              <!-- <a href="#">
                <span><i class="fa-brands fa-square-youtube"></i></span
              ></a>
              <a href="#"
                ><span><i class="fa-brands fa-instagram"></i></span
              ></a>

              <a href="#"
                ><span><i class="fa-brands fa-square-facebook"></i></span
              ></a> -->
            </div>
            <div class="font-MSVN-Athena_0 font-size-10">
              Copyright © 2010-2023
            </div>
            <div class="font-MSVN-Athena_0 font-size-10">
              Tra Sen Bach Diep. All right rerserved
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
