.bg-1 {
  background-image: url("../imgs/trang-chu/bgSanpham.png"),
    url("../imgs/trang-chu/gioithieu.png");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
.product-outstanding {
  margin-top: 6rem;
  margin-bottom: 10rem;
  /* background-image: url("../imgs/trang-chu/bgSanpham.png"); */
}

.introduce h3,
.product-outstanding h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.list-product h4 {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.list-product {
  position: relative;
  margin-top: 4rem;
}

.list-product .slick-arrow {
  position: absolute;
  top: 36%;
  width:  1.8rem;
  height: 1.8rem;
  z-index: 1;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
}

.list-product .slick-prev {
  background-image: url("../imgs/trang-chu/backButton.png");
  left: -2rem;
}
.list-product .slick-next {
  background-image: url("../imgs/trang-chu/nextButton.png");
  right: -2rem;
}
/* .introduce {

  padding-bottom: 6rem;
  background-image: url("../imgs/trang-chu/gioithieu.png");
} */

.introduce {
  position: relative;
  height: 42rem;
}
.introduce-detail {
  position: absolute;
  top: 12rem;
  text-align: justify;
  left: 20%;
}
.introduce-describe {
  position: absolute;
  top: 5rem;
}
.introduce-detail p {
  font-family: MSVN-Athena_0 !important;
  text-align: justify;
  width: 27rem;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 1.5rem;
}

.introduce-detail button {
  border-radius: 0;
  padding: 0.75rem 2.5rem;
}

.item-person{
  width: 18%;
  
}
.item-person p{
  width: 90%;
  font-size: 0.7rem;
  text-align: center;
  text-justify: inter-word;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  margin: auto;
  overflow: hidden;
}

.bg-2{
  background-image: url("../imgs/trang-chu/bannernghenhanandmuangay.png");
  background-repeat: no-repeat; 
  background-size: 100%;
}

.buy{
  margin-top: 9rem;
  /* background-image: url("../imgs/trang-chu/bannermuangay.png"); */
  height: 18rem;
}

.btn-submit{
  padding: 0.75rem 4.5rem;
  border-radius: 0;
}
.input-email{
  height: 3.1rem;
  width: 55%;
  border: 2px solid #aabc44;
}