.imgs-banner-header-product .header-banner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d_price p {
  font-size: 0.9rem;
  color: #7a7a7a;
}
#slider-range {
  height: 3px;
  width: 80%;
}

#slider-range div.ui-widget-header {
  height: 3px;
}

#slider-range > span {
  width: 10px;
  height: 10px;
  border-radius: 0;
  top: -4px;
  left: 5% ;
}

#slider-range > span:focus {
  background: #898989;
  outline: none;
  border: 1px solid #898989;
}
