<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liên hệ</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/contact.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-top d-flex justify-right">
          <nav class="menu-top d-flex">
            <div class="tel icon-item">
              <img src="../imgs/common/phone.png" alt="phone" />
              Hotline:
              <a href="tel:0123456789" class="phone">0123 456 789</a>
            </div>
            <div class="icon-item">
              <span><i class="fa-brands fa-facebook-f"></i></span>
            </div>
            <div class="icon-item">
              <span><i class="fa-brands fa-twitter"></i></span>
            </div>
            <div class="icon-item">
              <span><i class="fa-brands fa-google-plus-g"></i></span>
            </div>
            <div class="icon-item">
              <span><i class="fa-brands fa-youtube"></i></span>
            </div>
          </nav>
        </div>
        <div class="header-mid d-flex justify-between">
          <div class="img-logo w-left">
            <img src="../imgs/common/logo.png" alt="logo" />
          </div>
          <div class="search d-flex">
            <input
              type="search"
              name="text-search"
              class="text-search"
              placeholder="Tìm kiếm"
            />
            <button class="btn-search">
              <span><i class="fa-solid fa-magnifying-glass"></i></span>
            </button>
          </div>
          <div class="content d-flex">
            <div class="content-left d-flex">
              <div class="icon-content">
                <img
                  class="w-100"
                  src="../imgs/common/hand.png"
                  alt="hand.png"
                />
              </div>
              <div class="content-title">
                Cam Kết chất lượng sản phẩm dịch vụ
              </div>
            </div>
            <div class="content-right d-flex">
              <div class="icon-content">
                <img class="w-100" src="../imgs/common/xt.png" alt="xt.png" />
              </div>
              <div class="content-title">Vận chuyển nội thành miễn phí</div>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="menu-botton-mobile w-container margin-row-auto bg-green">
            <div class="btn-menu">
              <span><i class="fa-solid fa-bars cl-white"></i></span>
              <span class="cl-white">MENU</span>
            </div>
            <ul class="list-nav-header-mobile">
              <li class="nav-header-mobile">
                <div class="cl-white">Danh mục sản phẩm</div>
                <ul class="menu-lv2-mobile">
                  <li class="menu-item-lv2-mobile">
                    <a href="#" class="menu-item-lv2-mobile-link">
                      <img src="../imgs/common/icon.png" alt="icon.png" />
                      <span> Cây trang trí trong nhà </span>
                    </a>
                  </li>
                  <li class="menu-item-lv2-mobile">
                    <a href="#" class="menu-item-lv2-mobile-link">
                      <img src="../imgs/common/icon.png" alt="icon.png" />
                      <span> Cây trang trí sân vườn </span>
                    </a>
                  </li>
                  <li class="menu-item-lv2-mobile">
                    <a href="#" class="menu-item-lv2-mobile-link">
                      <img src="../imgs/common/icon.png" alt="icon.png" />
                      <span> Cây phong thủy </span>
                    </a>
                  </li>
                  <li class="menu-item-lv2-mobile">
                    <a href="#" class="menu-item-lv2-mobile-link">
                      <img src="../imgs/common/icon.png" alt="icon.png" />
                      <span> Cây bóng mát </span>
                    </a>
                  </li>
                  <li class="menu-item-lv2-mobile">
                    <a href="#" class="menu-item-lv2-mobile-link">
                      <img src="../imgs/common/icon.png" alt="icon.png" />
                      <span> Dịch vụ vật tư </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="index.html" class="nav-header-mobile-link cl-white"
                    >Trang chủ</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="#" class="nav-header-mobile-link cl-white"
                    >Giới thiệu</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="product.html" class="nav-header-mobile-link cl-white"
                    >Sản phẩm</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="#" class="nav-header-mobile-link cl-white"
                    >Dịch vụ</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="#" class="nav-header-mobile-link cl-white"
                    >Hỗ trợ khách hàng</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="tintuc.html" class="nav-header-mobile-link cl-white"
                    >Tin tức</a
                  >
                </div>
              </li>
              <li class="nav-header-mobile">
                <div>
                  <a href="contact.html" class="nav-header-mobile-link cl-white"
                    >Liên hệ</a
                  >
                </div>
              </li>
            </ul>
          </div>
          <nav class="menu-botton w-container margin-row-auto bg-green">
            <ul class="list-nav-header d-flex justify-between">
              <li class="nav-header category active w-left">
                <span><i class="fa-solid fa-bars cl-white"></i></span>
                <span class="cl-white">Danh mục sản phẩm</span>
              </li>
              <li class="nav-header">
                <a href="index.html" class="nav-header-link cl-white">Trang chủ</a>
              </li>
              <li class="nav-header">
                <a href="#" class="nav-header-link cl-white">Giới thiệu</a>
              </li>
              <li class="nav-header">
                <a href="product.html" class="nav-header-link cl-white">Sản phẩm</a>
              </li>
              <li class="nav-header">
                <a href="#" class="nav-header-link cl-white">Dịch vụ</a>
              </li>
              <li class="nav-header">
                <a href="contact.html" class="nav-header-link cl-white"
                  >Hỗ trợ khách hàng</a
                >
              </li>
              <li class="nav-header">
                <a href="tintuc.html" class="nav-header-link cl-white">Tin tức</a>
              </li>
              <li class="nav-header">
                <a href="contact.html" class="nav-header-link cl-white">Liên hệ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="banner d-flex justify-between">
          <div class="banner-left w-left">
            <ul class="menu-banner">
              <li class="menu-item-banner">
                <a href="#" class="menu-item-banner-link">
                  <img src="../imgs/common/icon.png" alt="icon.png" />
                  <span> Cây trang trí trong nhà </span>
                </a>
              </li>
              <li class="menu-item-banner">
                <a href="#" class="menu-item-banner-link">
                  <img src="../imgs/common/icon.png" alt="icon.png" />
                  <span> Cây trang trí sân vườn </span>
                </a>
              </li>
              <li class="menu-item-banner">
                <a href="#" class="menu-item-banner-link">
                  <img src="../imgs/common/icon.png" alt="icon.png" />
                  <span> Cây phong thủy </span>
                </a>
              </li>
              <li class="menu-item-banner">
                <a href="#" class="menu-item-banner-link">
                  <img src="../imgs/common/icon.png" alt="icon.png" />
                  <span> Cây bóng mát </span>
                </a>
              </li>
              <li class="menu-item-banner">
                <a href="#" class="menu-item-banner-link">
                  <img src="../imgs/common/icon.png" alt="icon.png" />
                  <span> Dịch vụ vật tư </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="banner-right w-right">
            <div class="img-banner">
              <div class="single-item">
                <img
                  class="img-banner"
                  src="../imgs/lienhe/bn-lienhe-2.png"
                  alt="banner.png"
                />
              </div>
              <div class="single-item">
                <img
                  class="img-banner"
                  src="../imgs/lienhe/bn-lienhe-3.png"
                  alt="banner.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <article class="list-item">
          <div class="header-list-item d-flex justify-between">
            <div class="w-left">
              <div class="box-title-new d-flex">
                <h3 class="title-new-hot">TIN NỔI BẬT</h3>
              </div>
            </div>
            <div class="title-item-right d-flex justify-content-start w-right">
              <div class="title-item-header">
                <div class="box-item-left">
                  <div class="title-item-left d-flex">
                    <div class="img-icon">
                      <img src="../imgs/common/icon-h.png" alt="icon-h" />
                    </div>
                    <h3 class="cl-white title-header">Liên hệ</h3>
                  </div>
                  <div class="arrow-right arrow-right-1"></div>
                  <div class="arrow-right arrow-right-2"></div>
                  <div class="arrow-right arrow-right-3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="body-item d-flex justify-between">
            <div class="body-left w-left">
              <div class="list-new-hot">
                <div class="new-hot-item d-flex justify-between">
                  <div class="img-item">
                    <img src="../imgs/tintuc/tin01.png" alt="tin01" />
                  </div>
                  <div class="title-item">
                    <h4>Cây kim ngân hợp với tuổi nào ?</h4>
                    <div class="date-new">
                      <img src="../imgs/common/clock.png" alt="clock.png" />
                      <span>28/06/2016</span>
                    </div>
                  </div>
                </div>
                <div class="new-hot-item d-flex justify-between">
                  <div class="img-item">
                    <img src="../imgs/tintuc/tin01.png" alt="tin01" />
                  </div>
                  <div class="title-item">
                    <h4>Cây kim ngân hợp với tuổi nào ?</h4>
                    <div class="date-new">
                      <img src="../imgs/common/clock.png" alt="clock.png" />
                      <span>28/06/2016</span>
                    </div>
                  </div>
                </div>
                <div class="new-hot-item d-flex justify-between">
                  <div class="img-item">
                    <img src="../imgs/tintuc/tin01.png" alt="tin01" />
                  </div>
                  <div class="title-item">
                    <h4>Cây kim ngân hợp với tuổi nào ?</h4>
                    <div class="date-new">
                      <img src="../imgs/common/clock.png" alt="clock.png" />
                      <span>28/06/2016</span>
                    </div>
                  </div>
                </div>
                <div class="new-hot-item d-flex justify-between">
                  <div class="img-item">
                    <img src="../imgs/tintuc/tin01.png" alt="tin01" />
                  </div>
                  <div class="title-item">
                    <h4>Cây kim ngân hợp với tuổi nào ?</h4>
                    <div class="date-new">
                      <img src="../imgs/common/clock.png" alt="clock.png" />
                      <span>28/06/2016</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="body-right w-right">
              <div class="row">
                <div class="col-left col-6">
                  <p>
                    Mọi ý kiến đóng góp vui lòng điền vào Form dưới đây và gửi
                    cho chúng tôi. Xin chân thành cảm ơn
                  </p>
                  <form action="POST" class="row">
                    <div class="">
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Họ tên <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Email <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <input type="email" class="form-control" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Địa chỉ <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Điện thoại <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Tiêu đề <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label d-flex"
                          >Nội tung <span class="cl-red">*</span></label
                        >
                        <div class="col-sm-9">
                          <textarea
                            name="noidung"
                            class="form-control"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center btn-form">
                      <button
                        class="btn cl-white"
                        id="btn-submit"
                        type="submit"
                      >
                        Gửi đi
                      </button>
                      <button class="btn cl-white" id="btn-reset" type="reset">
                        Nhập lại
                      </button>
                    </div>
                  </form>
                </div>
                <div
                  class="col-right col-6 d-flex align-center align-items-center justify-content-center"
                >
                  <div>
                    <h3 class="cl-green">NHÀ VƯỜN XUÂN THỦY</h3>
                    <address>
                      Địa chỉ: Đường Phú Minh, Văn Trì, Minh Khai,<br />
                      Bắc Từ Liêm, Hà Nội
                    </address>
                    <div>
                      Hotline:
                      <a href="tel:0936596425">093 6596 425(Mrs.Thủy)</a>
                      -
                      <a href="tel:0976885796">097 6885 796(Mr.Lâm)</a>
                    </div>
                    <div>
                      Email:
                      <a href="mail:buoidienvn@gmail.com"
                        >buoidienvn@gmail.com</a
                      >
                    </div>
                    <div>Website: buoidienvn</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>

    <footer>
      <div class="footer-top">
        <div class="container d-flex justify-content-between">
          <div class="footer-top-left">
            <ul class="list-nav-footer d-flex justify-between">
              <li class="nav-footer">
                <a href="index.html" class="nav-footer-link cl-white">Trang chủ</a>
              </li>
              <li class="nav-footer">
                <a href="#" class="nav-footer-link cl-white">Giới thiệu</a>
              </li>
              <li class="nav-footer">
                <a href="product.html" class="nav-footer-link cl-white">Sản phẩm</a>
              </li>
              <li class="nav-footer">
                <a href="#" class="nav-footer-link cl-white">Dịch vụ</a>
              </li>
              <li class="nav-footer">
                <a href="tintuc.html" class="nav-footer-link cl-white">Tin tức</a>
              </li>
              <li class="nav-footer">
                <a href="contact.html" class="nav-footer-link cl-white">Liên hệ</a>
              </li>
            </ul>
          </div>
          <div class="footer-top-right">
            <ul class="list-nav-footer d-flex justify-between">
              <li class="title-footer-top">
                <span class="cl-white">Kết nối với chúng tôi</span>
              </li>
              <li class="icon-item">
                <span><i class="fa-brands fa-facebook-f cl-white"></i></span>
              </li>
              <li class="icon-item">
                <span><i class="fa-brands fa-twitter cl-white"></i></span>
              </li>
              <li class="icon-item">
                <span><i class="fa-brands fa-google-plus-g cl-white"></i></span>
              </li>
              <li class="icon-item">
                <span><i class="fa-brands fa-youtube cl-white"></i></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="box-footer-bottom d-flex justify-content-between row">
            <div class="maps col-xl-3 col-sm-4 col-6">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3723.36797233712!2d105.7463204!3d21.057960500000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1689870426977!5m2!1svi!2s"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="footer-information col-6">
              <h4 class="cl-white">NHÀ VƯỜN XUÂN THỦY</h4>
              <div class="cl-white d-flex adress">
                <span><i class="fa-solid fa-location-dot cl-white"></i></span>

                <address class="cl-white">
                  Địa chỉ: Đường Phú Minh, Văn Trì, Minh Khai, Bắc Từ Liêm, Hà
                  Nội
                </address>
              </div>
              <div class="cl-white">
                <span><i class="fa-solid fa-phone cl-white"></i></span>
                Hotline:
                <a class="cl-white" href="tel:0936596425"
                  >093 6596 425(Mrs.Thủy)</a
                >
                -
                <a class="cl-white" href="tel:0976885796"
                  >097 6885 796(Mr.Lâm)</a
                >
              </div>
              <div class="cl-white">
                <span><i class="fa-solid fa-envelope cl-white"></i></span>
                Email:
                <a class="cl-white" href="mail:buoidienvn@gmail.com"
                  >buoidienvn@gmail.com</a
                >
              </div>
              <div class="cl-white">
                <span><i class="fa-solid fa-globe cl-white"></i></span>
                Website: buoidienvn
              </div>
              <div class="cl-white">
                <span><i class="cl-white">©</i></span> Copyright © 2013. Bản
                quyền thuộc về Nhà Vườn Vân Thủy
              </div>
            </div>
            <div class="footer-facebook col-xl-3 col-sm-4 col-6">
              <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                width="340"
                height="500"
                style="border: none; overflow: hidden"
                scrolling="no"
                frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/common.js"></script>
  </body>
</html>
