.page-info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.banner .page-info i {
  margin: 0.5rem 0.3rem;
  color: #ccc;
  font-size: 0.5rem;
  /* line-height: ; */
}

.img-product-top .img-product {
  width: 80%;
  margin: 0 auto;
}

.img-product-bottom .single-item {
  margin: 0.5rem;
}

.img-product-bottom .img-product {
  width: 100%;
}
.img-product-bottom .slick-list {
  margin: 0;
}
#main-product .product-quatity {
  margin: auto 0;
}
#main-product .product-quatity input {
  width: 6rem;
  padding-left: 0.5rem;
}
#main-product .btn-pro-buy span i {
  padding-right: 0.5rem;
}
#main-product .btn-pro-buy {
  padding: 0.5rem;
}
#main-product .product-price {
  color: #ec3a0e !important;
  font-size: 1.8rem;
}
.box-3 {
  margin: 1rem 0;
}
.product-description-short {
  margin: 2rem 0;
}
#main-product .product-description {
  /* padding-top: 1.5rem; */
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-5 a {
  color: rgb(44, 44, 245) !important;
}
.box-6{
  margin-top: 2rem;
}

#main-product .box-6>button{
  border-radius: 4px;
  padding: 0.2rem;
  margin-right: 0.5rem;
}

#main-product .btn-like,
#main-product .btn-share{
  background-color: #4267b2;

}
#main-product .btn-tweet{
  background-color: #1b95e0;

}
#main-product .btn-google-plus{
  border: 1px solid  #d4d4d4;
}

.box-6 span.tilte-btn{
  margin-left:  -0.4rem;
}
.box-6 span{
  padding: 0.4rem;
}

#main-product .btn-google-plus i{
  color: #db4437;
}

.tabs-product{
  margin-top: 2rem;
}
.tabs-product h6{
  font-size: 1.5rem;
}
.tabs-product #myTab{
  padding: 0.3rem 0 0 0.3rem;
  margin-bottom: 1rem;
  font-family: OpenSans-Bold;
}


.col-tab-para p{
  padding-top: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  min-height: 9rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.para-1
,.para-2{
  margin: 2rem 0;
}
.col-tab-para span.fw-bold{
  margin-bottom: 0.3rem;
}

/* Sản phẩm liên quan */


.title-item-header {
  position: relative;
  margin: auto 0;
  padding: 0.5rem;
  background-color: #47ae49;
  margin-bottom: 1rem;
}

.title-item-header .title-header {
  font-size: 1.2rem;
  margin: auto 0;
  padding-left: 0.5rem;
}


.box-product{
  width: 15%;
  margin: 1rem;
}

.item-top {
  position: relative;
}
.product-hover {
  display: none;
}

.item-product:hover .item-top .bg-product-hover {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
  width: 100%;
  background-color: #47ae49;
  opacity: 0.8;
}

.item-product:hover .product-hover {
  display: block;
}
.bg-product-hover,
.product-hover {
  position: absolute;
  top: 0;
  height: 100%;
}
.product-description {
  margin: auto 1rem;
}

.product-detail,
.btn-product {
  font-size: 1rem;
  opacity: 1 !important;
}
.btn-product {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
}

.product-detail {
  padding-top: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  min-height: 9rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-detail {
  margin-left: 1rem;
}
.btn-buy {
  margin-right: 1rem;
}

#products-relate .product-description .btn {
  border: solid 1px #ccc  !important;
  padding: 0.2rem 0.8rem;
  background-color: #fff;
}
.img-product {
  width: 100%;
}
.title-product-item {
  margin: 0.5rem;
}

.title-product-item h4 {
  font-size: 1rem;
  font-family: OpenSans-Medium;
  margin: 0;
}


.slick-prev, .slick-next {
  font-family: 'slick';
}

.product-relate{
   position: relative;
}

.product-relate .slick-arrow{
  position: absolute;
  top: 32%;
  opacity: 0.3;
  z-index: 3;
  border: none;
  background-color: #fff;
  font-size: 2rem;
}
.product-relate .slick-prev{
  left: -1.2rem;
}
.product-relate .slick-next{
  right: -1.2rem;
}

#products-relate{
  margin: 3rem 0;
}

