<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../css/header-devmaster.css">
</head>
<body>
    <header id="header">
        <nav id="nav-menu-header">
            <ul class="list-level-1 d-flex fix-margin-left">
                <li class="item-level-1">
                    <a href="#" class="item color-white">Trang chủ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Các khóa đào tạo</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Lập trình cho trẻ em</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Dịch vụ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Lịch khai giảng</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Tin tức</a>
                    <ul class="list-level-2">
                        <li class="item-level-2">
                            <a href="#"  class="item">Tin tức và sự kiện</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#"  class="item">Tin tức hoạt động</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#"  class="item">Tin tức công nghệ</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#"  class="item">Hội thảo,workshop, Codecam</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#"  class="item">Thông tin việc làm</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#"  class="item">Cẩm nang chia sẻ kiến thức</a>
                        </li>
                    </ul>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Tiện ích</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>